doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{sitename}
    style
      include style.css
  body
    include nav.pug
    main
      ol
        each post in posts
          li
            <a href="#{post.url}">#{post.title}</a>
            <span class="domain">#{new URL(post.url).host}</span>
            .byline by #{post.username} at <time datetime=#{post.createdAt.toISOString()}>#{datefns.formatDistance(post.createdAt, new Date())}</time>

    include foot.pug
